<form [formGroup]="heroForm">
  <input id="name" class="form-control"
            formControlName="name" required >
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
    <div *ngIf="name.errors.required">
    Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors.forbiddenName">
    Name cannot be Bob.
    </div>
  </div>
  <br>
  <input id="alterEgo" class="form-control"
            formControlName="alterEgo" required >
  <div *ngIf="alterEgo.invalid && (alterEgo.dirty || alterEgo.touched)"
        class="alert alert-danger">
    <div *ngIf="alterEgo.errors.required">
      alterEgo is required.
    </div>
    <div *ngIf="alterEgo.errors.minlength">
      alterEgo must be at least 4 characters long.
    </div>
    <div *ngIf="alterEgo.errors.forbiddenName">
      alterEgo cannot be Bob.
    </div>
  </div>
</form>
